@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063d1e;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
    --fonte2: 'Android', sans-serif;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: var(--fonte0);
    background-color: var(--cor1);
}
header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    color: white;
    padding-top: 30px;
    padding-bottom: 25px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.444);
    text-align: center;
    min-width: 200px;
}
header h1 {
    font-family: var(--fonte1);
    font-size: 3em;
    padding-bottom: 25px;
}
header > p {
    font-family: var(--fonte0);
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.2em;
    max-width: 550px;
    margin: auto;
}
nav {
    background-color: var(--cor4);
    padding: 10px;    
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.333);
}
nav > a {
    text-decoration: none;
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    font-weight: bold;
}
nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor4);
}
main {
    min-width: 200px;
    max-width: 800px;
    padding: 15px;
    margin: auto;
    margin-bottom: 25px;
    border-radius: 0px 0px 15px 15px;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.444);
}
main h1 {
    font-family: var(--fonte2);
    color: var(--cor4);
}
main h2 {
    font-family: var(--fonte2);
    background-image: linear-gradient(to right, var(--cor1), white);
    color: var(--cor4);
    text-indent: 8px;
    padding: 3px;
}
main p {
    margin: 15px 0px;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 30px;
}
main strong {
    color: var(--cor4);
}
main a {
    text-decoration: none;
    color: var(--cor3);
    font-weight: bold;
}
main a:hover {
    text-decoration: underline;
    color: var(--cor2);
    background-color: var(--cor4);
}
main a::after {
    content: '\0020\1F517';
    font-size: 15px;
}
main img {
    width: 100%;
}
main .bugdroid {
    max-width: 350px;
    display: block;
    margin: auto;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
div.video {
    position: relative;
    background-color: var(--cor4);
    height: 0px;
    margin: 0px -15px 25px -15px;
    padding-bottom: 59%;
}
article > aside {
    background-color: var(--cor1);
    padding: 0px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.444);
}
aside h3 {
    background-color: var(--cor4);
    color: white;
    padding: 8px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside ul {
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
}
footer {
    background-color: var(--cor4);
    color: white;
    padding: 5px;
}
footer p {
    text-align: center;
}
footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
footer a:hover {
    background-color: var(--cor2);
    color: var(--cor4);
}
